@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
    --french-gray: #d0ccd0ff;
    --white: #fbfcffff;
    --wenge: #605856ff;
    --cerulean: #1c6e8cff;
    --charcoal: #274156ff;
    --darker-charcoal: #203648;

    --nav-item-spacing: 4px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar {
    order: 0;

    position: fixed;
    z-index: 0;
    float: left;
    height: 100%;
    width: 48px;
    overflow-x: hidden;

    /* Asthetics */
    background-color: var(--charcoal);
    font-family: "Roboto", sans-serif;

    .navbar__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 0;
        /* gap: var(--nav-item-spacing); */
        padding-left: var(--nav-item-spacing);
        padding-right: var(--nav-item-spacing);
        padding-top: var(--nav-item-spacing);

        .navbar__item {
            display: block;
            aspect-ratio: 1/1;
            width: 100%;
            border-radius: 10%;
            padding-top: 5px;
            padding-bottom: 5px;

            .nav_button__link {
                text-decoration: none;
                display: block;
                padding: var(--nav-item-spacing);

                .nav_button__img {
                    aspect-ratio: 1/1;
                    display: flex;
                    object-fit: scale-down;
                    width: 100%;
                }
            }
        }
        .navbar__item:hover {
            background-color: var(--darker-charcoal);
        }
    }
}

@media (max-device-width: 480px) {
    .navbar {
        width: 560px;
    }

    .navbar__search_bar {
        width: 50%;
    }

    .navbar__search_item {
        margin-right: 0;
        /* margin-left: 0; */
    }
}
