@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  --french-gray: #d0ccd0ff;
  --white: #fbfcffff;
  --wenge: #605856ff;
  --cerulean: #1c6e8cff;
  --charcoal: #274156ff;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: var(--charcoal);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto", sans-serif;

  list-style: none;
  margin: 0;
  padding: 0;

  height: 64px;

  /* border-radius: 0 0 10px 10px; */
}

.navbar__item {
  position: relative;
  display: block;
  height: 100%;
}

.navbar__title {
  margin-left: auto;
  margin-right: auto;
}

.navbar__nav_button {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 15px;
  font-weight: 700;
}

.navbar__nav_button:hover {
  background-color: var(--cerulean);
}

.navbar__nav_buton__img {
  object-fit: scale-down;
  height: 90%;
  margin-right: 5px;
}

.navbar__nav_button--first {
  display: flex;
  height: 100%;
  padding: 0 5px 0 5px;
  justify-content: center;
  align-items: center;
}

.navbar__nav_button--first:hover {
  background-color: var(--cerulean);
}

.navbar__dropdown {
  align-self: start;
  display: flex;
  flex-direction: column;
}

.dropdown__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__dropdown .dropdown__item {
  display: none;
  visibility: none;
  margin: 0;
  padding: 0;
}

.navbar__dropdown:hover .dropdown__item {
  display: flex;
  visibility: visible;
  position: absolute;
  background-color: var(--charcoal);

  width: 100%;
  height: 100%;
}

.navbar__dropdown:hover .dropdown__item:hover {
  background-color: var(--cerulean);
}

.navbar__search_item {
  margin-left: auto;
  margin-right: 20px;
  order: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__search_bar {
  color: var(--wenge);
  border-radius: 2px 0 0 2px;
  border: none;
  padding: 0 5px 0 5px;
  font-size: 100%;
  height: 30px;
  width: 300px;
  outline: none;
}

.navbar__search_bar:focus {
  user-select: none;
  border: none;
}

.search_bar__suffix {
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  color: var(--white);
  background-color: var(--wenge);
  border: none;
  border-radius: 0 2px 2px 0;
}

@media (max-device-width: 480px) {
  .navbar {
    width: 560px;
  }
}
