@import url("https://fonts.googleapis.com/css?family=Roboto400,900");

h3 {
  font-size: 4vh;
}

.recipe {
  display: flex;
  flex-direction: column;

  margin: 0 auto 0 auto;

  width: 50vw;
  padding: 5vh;
  background-color: rgb(6, 0, 38);
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; /* General font (may be changed based on element) */
  color: rgb(239, 255, 234);
}

.recipe__header {
  display: flex;
  flex-direction: column;
}

.recipe__info_and_image {
  display: flex;
  flex-direction: row;
}

.recipe__info__title {
  font-size: 5vh;
  font-weight: bolder;
}

.recipe__info {
  display: flex;
  flex-direction: column;
}

.recipe__image {
  width: 50%;
  float: right;
  max-width: 300px;
  margin-left: 20px;
}

.recipe__description {
  font-size: 2.5vh;
  font-weight: light;
}

.recipe__info__details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipe__info__details__time::before {
  content: " ";
}

.recipe__info__details__time {
  display: inline;
  float: left;
}
