@import url("https://fonts.googleapis.com/css?family=Roboto400,900");

h3.header {
  font-size: 3vh;
  margin: 0;
  margin-bottom: 15px;
}

.recipe {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  margin: 0 auto 0 auto;

  width: 50vw;
  padding: 4vh;
  background-color: rgb(6, 0, 38);
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; /* General font (may be changed based on element) */
  color: rgb(239, 255, 234);
}

/* Header and image stuff */
.recipe__header_and_image {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;

  align-items: center;

  flex-grow: 2;
}

.recipe__info {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.recipe__info__title {
  font-size: 5vh;
  font-weight: bolder;
}

.recipe__image {
  max-width: 35%;
  object-fit: fill;

  border-radius: 5%;
}
/* End header and image stuff */

.recipe__description {
  font-size: 1.8vh;
  font-weight: light;
}

.recipe__info__details {
  list-style: none;
  margin: 5px;
  padding: 0;
  height: 100%;
}

/* Before attributes */
/* .before_clock::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "⏲ ";
}

.before_utensils::before {
  font-size: 150%;
  vertical-align: middle;
  content: "🍴 ";
}

.before_person::before {
  font-size: 150%;
  vertical-align: middle;
  content: "👤 ";
} */

.detail {
  font-size: 11 0%;
  margin-top: 5px;
  display: inline-block;
  width: 50%;
}

.detail__title {
  font-weight: bold;
}

.detail__content {
}
